@model MSPremiumProject.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Redefinir Password";
     Layout = "_Layout";
}

<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg rounded-4">
            <div class="card-body p-4 p-sm-5">
                <div class="text-center mb-4">
                    <h2>Redefinir a sua Password</h2>
                    <p class="text-muted">Crie uma nova password para a sua conta.</p>
                </div>

                @if (TempData["ErrorMessage"] != null) // Para exibir erros se o token for inválido no POST
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>


                <form asp-action="ResetPassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Token" />

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Nova Password" />
                        <label asp-for="Password">Nova Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Nova Password" />
                        <label asp-for="ConfirmPassword">Confirmar Nova Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Redefinir Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}